.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 20px;
}

table{
    border: 1px solid black;
}

th{
    cursor: pointer;
}

td{
    text-align: center;
}

.category-list-table{
    width: 70vw;
}