<!-- <p>category works!</p> -->
<div class="container">
    
  <button (click)="openDialog()">Add Category</button>

  <table class="category-list-table">
      <thead>
        <tr>
          <th>CategoryId</th>
          <th>CategoryName</th>
          <th>Active</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of categoryItems">
          <td>{{ items.categoryId }}</td>
          <td>{{ items.name }}</td>
          <td>{{ items.active }}</td>
          <td>
            <button (click)="update(items)">Edit</button>
            <button (click)="deleteCategory(items.categoryId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>